body {
    font-family: "Helvetica","Arial",sans-serif;
    background-color: #fff;
    color:#000;
}

table {
    margin:auto;
    border: 1px solid #699;
}

caption {
    margin:auto;
    padding:.2em;
    font-size: 1.2em;
    font-weight: bold;
}

th {
    font-weight: normal;
    font-style: italic;
    text-align: left;
    border: 1px dotted #699;
    background-color: #9cc;
    color: #000;
}

th, td {
    width: 10em;
    padding: .5em;
}

/*
for displaying abbr
 */
abbr {
    text-decoration: none;
    border: 0;
    font-style: normal;
    /*
    Add this for Chrome and Safari
    */
    border-bottom: 1px dotted black;
}

/*
  if browsers support CSS3
  To get this same effect when :nth-child() isn't available, you'll need a different technique. In the
case of itinerary.html, this could be easily done by assigning a class attribute to each odd or even row.
However, this isn’t very convenient, especially for larger tables—if a row is added to or removed from the
middle of the table, you would have to painstakingly update the class attributes by hand.
 */

/*
tr:nth-child(odd) {
    background-color: #ffc;
}

tr:nth-child(even) {
    background-color: #fff;
}
*/

h2, dl, dt, dd {

    color: grey;
    font-size: 0.8em;
}
